<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello <%= name %></h1>

    <p style="background: lightgray; color: black; padding: 10px; border-radius: 5px; font-family: Arial, Helvetica, sans-serif;">The numbers are <%= numbers %></p>
    
    
    <% if(name == "Moe"){ %>
        <div> name is Moe </div>
    <% } %>
</body>
</html>